{[:public :school_assessment_instance] {:school_id [:public :school :id]}, [:public :student] {:school_id [:public :school :id]}, [:public :student_assessment] {:student_id [:public :student :id], :school_assessment_instance_id [:public :school_assessment_instance :id]}, [:public :student_obstacle] {:student_id [:public :student :id]}, [:public :student_support] {:student_id [:public :student :id]}, [:public :student_opportunity] {:student_id [:public :student :id]}, [:public :assessment_star_v1] {:school_assessment_instance_id [:public :school_assessment_instance :id]}, [:public :assessment_map_v1] {:school_assessment_instance_id [:public :school_assessment_instance :id]}}