{:tables #ordered/map ([:yardstick ("public.student" "public.school" "public.student_opportunity" "public.student_support" "public.student_obstacle" "public.school_assessment_instance" "public.student_assessment" "public.assessment_map_v1" "public.assessment_star_v1")]), :root-table #ordered/map ([:db "yardstick"] [:schema "public"] [:table "school"]), :root-id #ordered/map ([:col "id"] [:value 1])}